@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
    background:#191c2b;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background: #38394b;
    border-radius: 100vw;
    margin-block:2rem ;
}
::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background:  #F54854;
    border: 3px solid #38394b ;
}

.contaner{
    width: 100vw;
    height: auto;
    background: #222438;
}
.header{
    width: 100%;
    height: 40px;
    background: #191c2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Tilt Neon', cursive;
}
.header h3{
    color: #898C9B;
    margin-left: 10px;
}
.header h3 span{
    color: #F54854;
}
.hamburger{
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
.hamburger .lin{
    width: 30px;
    height: 3px;
    background: #898C9B;
    margin: 6px 0px;
}
.header ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.header ul li a{
    text-decoration: none;
    color: #898C9B;
    padding: 10px;
}
.header i{
    color: #F0F0F5;
    font-size: 23px;
    display: none;
}
.banner{
    width: 100%;
    height: 600px;
    display: grid;
    place-items: center;
    /* border: 2px solid; */
}
.text-banner{
    width: 90%;
    height: 90%;
    font-family: 'Tilt Neon', cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid; */
}
.text-banner h1{
    color: #F0F0F5;
    font-size: 40px;
}
.text-banner p{
    font-size: 13px;
    color: #38394b;
    padding: 15px 0px 15px 0px;
}
.banner h3{
    font-size: 12px;
    padding: 8px;
    background: #F54854;
    color: #F0F0F5;
    width: 140px;
}
.services{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid 2px; */
}
.ser-box{
    width: 90%;
    height: auto;
    /* border: solid 2px; */
    font-family: 'Tilt Neon', cursive;
}
.ser-box h1{
    color: #F54854;
}
.ser-box p{
    color: #F0F0F5;
}
.skill{
    width: 90%;
    height: auto;
    /* border: solid 2px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Tilt Neon', cursive;
    padding-bottom: 150px;
}
.skill-box{
    width: 200px;
    height: 200px;
    background: #292C3E;
    color: #898C9B;
    margin-top: 30px;
    font-size: 13px;
    position: relative;
    text-align: center;
}
.skill-box h1{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 15%;
    left: 50%;
}
.round{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #191c2b;
    color: #F54854;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 58%;
    left: 50%;
    font-size: 24px;
    display: grid;
    place-items: center;
}
.line{
    width: 60px;
    height: 4px;
    background: #F54854;
}
.contect{
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: grid;
    /* border: solid 2px; */
    place-items: center;
}
.conntect-box{
    width: 90%;
    height: 400px;
    /* border: solid 2px; */
    font-family: 'Tilt Neon', cursive;
    display: flex;
    flex-direction: column;
}
.conntect-box h1{
    font-size: 32px;
    font-weight: bold;
    color: #F54854;
}
.conntect-box input{
    width: 400px;
    height: 60px;
    margin-top: 10px;
    font-size: 21px;
    border: none;
    color: #898C9B;
    outline: none;
    background: #26283E;
    margin-bottom: 10px;
}
#sub{
    font-family: 'Tilt Neon', cursive;
    width: 170px;
    background: #F54854;
    font-size: 16px;
    font-weight: bolder;
    color: #898C9B;
}